*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(214, 244, 253);
}
.align-middle{
    text-align: center;
    margin-top: 40px;

}

.box{
    display: inline-block;
    border-style: solid; 
    margin-top: 20px;
    width: 20px; 
    height: 20px;
}

.task{
    margin: 0 auto;
    border-style: solid;
    border-radius: 30px;
    text-align: center;
    padding-top: 20px;
    width: 90%;
}

.time-slot{
    border-style: solid;
    width: 15%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    border-bottom: none;
}
.edit-btn{
    display: block;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    font-size: 1em;
}


.modal-task{
    display:block;
    width: 50%;
    color: black;
    margin-top: 10px;
}



/*  Maybe we can remove class... 

.passed{
    background-color: grey;
    text-decoration: line-through;
}

.future{
    background-color: greenyellow;
}

.current{
    background-color: rgb(214, 244, 253);
    font-weight: bold;
} */